#search-container{
    margin-top:20%;
}
.search{
    height:70px;
    max-height: 70px;
    font: size 3.5em;
    color:#;
}

.avatar{
    margin-bottom: 7px;
}
.searchButton{
    background-color: #CA1740;
    color:#fff;
    margin-top: 20px;
}
.image-